{%extends "master.html"%}


{%block content%}

<div class="container mt-5 col-md-12">
    <div class="card"> 
        
        <div class="card-body">
        <center>
            <div class="col-md-4">

                <h3>Prachiti Pravin Thakur</h3>
                <p>7843073066,8975532074</p>
                <p>prachitithakur2001@gmail.com</p>
                <p>204 B-Wing, Police colony, Navenagar, Mahad,402301</p>
                <p>www.linkedin.com/in/prachiti-thakur-742725200</p>
                <p>https://github.com/prachiti-thakur</p>

            </div>
        </center>

    <hr width="100%"></hr>

            <table class="table">
                <tbody>
                    <tr>
                        <td>
                            <div>
                                <h3 style="text-color:grey">Objective:</h3>
                            </div>

                        </td>

                        <td>
                            <div>
                                <p>
                                    I am seeking opportunities to join a company that can help me in enhancing my skills, strengthening my knowledge along with contributing to the growth of the organization. 
                                </p>
                
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>

           <h3>Educational Details</h3><br>

            <table>
                <thead>
                    <tr>
                        <td>
                            Name of the Examination
                        </td>
                        <td>
                            Institute
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            

                        </td>

                        <td>
                            
                        </td>
                    </tr>
                </tbody>
            </table>

        

        </div>
    </div>
    </div>

{%endblock%}